// Lib for CSS3: http//visionmedia.github.com/nib/
@import 'nib'

primaryFonts = 'Source Sans Pro', 'Lato', 'Helvetica Neue', Arial, sans-serif

baseFontSize = 38px

fontSmall = 18px
fontMedium = 24px

blue = #0099ec
black = #333
gray = #aaa
lightGray = #f7f6f5

@import 'basic.styl'
@import 'icons.styl'