@font-face {
  font-family: 'entypo';
  src:url('icons/entypo.eot');
  src:url('icons/entypo.eot?#iefix') format('embedded-opentype'),
    url('icons/entypo.woff') format('woff'),
    url('icons/entypo.ttf') format('truetype'),
    url('icons/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-earth:before, .icon-link:before, .icon-cog:before, .icon-twitter:before {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-earth:before {
  content: "\e000";
}
.icon-link:before {
  content: "\e001";
}
.icon-cog:before {
  content: "\e002";
}
.icon-twitter:before {
  content: "\e003";
}
